<div class="ui-g">
  <div class="ui-sm-8 ui-md-8 ui-g-8 ui-g-nopad" style="margin: auto 0px">
    <p style="text-align: left" >
      <strong><i class="fa fa-user"></i>&nbsp;&nbsp;</strong>
      <a style="font-size: 14px" [routerLink]="['/report']">{{ userName }}</a>
    </p>
  </div>
  <div class="ui-sm-4 ui-md-4 ui-g-4 ui-g-nopad">
    <p style="text-align: right">
      <button pButton label="Sigh Out" icon="fa-sign-out" (click)="logout()" *ngIf="!isSmall"></button>
      <button pButton icon="fa-sign-out" (click)="logout()" *ngIf="isSmall" style="min-width: 50px"></button>
    </p>
  </div>
</div>
