<div class="ui-g" style="margin-top: 2em">
  <div class="ui-lg-1 ui-xl-1"></div>
  <div class="ui-sm-11 ui-md-10 ui-lg-9 ui-xl-8 ui-g-nopad" style="margin: 0 auto">
        <div class="ui-widget-content">

            <div class="ui-g">
                <div class="ui-g-12">
                    <h1 style="text-align: center">รายละเอียดห้อง</h1>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-sm-4 ui-g-2">
                    <p><strong>ชื่อ :</strong></p>
                </div>
                <div class="ui-sm-8 ui-g-10">
                    <p>{{ state.selectedItem.name }}</p>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-sm-4 ui-g-2">
                    <p><strong>ที่อยู่ :</strong></p>
                </div>
                <div class="ui-sm-8 ui-g-10">
                    <p>{{ state.selectedItem.address }}</p>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-sm-4 ui-g-2">
                    <p><strong>ขนาด :</strong></p>
                </div>
                <div class="ui-sm-8 ui-g-10">
                    <p>{{ state.selectedItem.roomDetail }}</p>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-sm-4 ui-g-2">
                    <p><strong>ราคา :</strong></p>
                </div>
                <div class="ui-sm-8 ui-g-10">
                    <p>{{ state.selectedItem.fee | currency:'USD':true }} บาท</p>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-sm-4 ui-g-2">
                    <p><strong>มัดจำ :</strong></p>
                </div>
                <div class="ui-sm-8 ui-g-10">
                    <p>{{ state.selectedItem.deposite | currency:'USD':true }} บาท</p>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-sm-4 ui-g-2">
                    <p><strong>Tel :</strong></p>
                </div>
                <div class="ui-sm-8 ui-g-10">
                    <p>{{ state.selectedItem.tel }}</p>
                </div>
            </div>

            <div class="ui-g" *ngIf="!state.image.isFetching; else loadingImg">
                <div class="ui-g-12">
                    <comp-rental-carousel [value]="state.image.data" (clickImg)="onClickImgModal($event)"></comp-rental-carousel>
                    <comp-img-modal *ngIf="selectImg" [value]="selectImg" (closeModal)="onCloseImgModal($event)"></comp-img-modal>
                </div>
            </div>
            <ng-template #loadingImg>
                กำลังโหลดรูปภาพ...
            </ng-template>

            <div class="ui-g">
                <div class="ui-g-12" style="text-align: center">
                    <button pButton label="จอง" (click)="onClickReserve(state.selectedItem)"></button>
                    <button pButton label="กลับ" (click)="backToSearch()"></button>
                </div>
            </div>

        </div>
    </div>
  <div class="ui-lg-1 ui-xl-1"></div>
</div>
