<div class="ui-g">
  <div class="ui-g-12 vertical-center" style="margin: 0 auto;">
    <div class="ui-g">
      <div class="ui-sm-10 ui-md-7 ui-lg-4 ui-xl-4" style="margin: 0 auto">
        <img src="assets/image/For_rent1.png" style="margin: 0 auto;max-width: 100%; height: auto" />
      </div>
    </div>
    <br/>
    <br/>
    <div class="ui-g">
      <div class="ui-sm-10 ui-md-7 ui-lg-4 ui-xl-4" style="margin: 0 auto">
        <button class="loginBtn loginBtn--facebook" (click)="loginFacebook()" style="width: 100%; cursor: pointer">
          Login with Facebook
        </button>
      </div>
    </div>
    <br/>
    <div class="ui-g">
      <div class="ui-sm-10 ui-md-7 ui-lg-4 ui-xl-4 ui-g-nopad" style="background-color: #aaaaaa; height: 1px; margin: 0 auto"></div>
    </div>
    <br/>
    <div class="ui-g">
      <div class="ui-sm-10 ui-md-7 ui-lg-4 ui-xl-4" style="margin: 0 auto">
        <button class="loginBtn loginBtn--google" (click)="loginGoogle()" style="width: 100%; cursor: pointer">
          Login with Google
        </button>
      </div>
    </div>
  </div>
</div>
